#emacs files
*~

#gradle dirs
/.gradle
/build-integration-lib/build
/gradle-plugin/build
/buck-bundler/build/
/build-integration-lib/src/main/resources/jcplugin/

#intellij idea files
/.idea
/build-tools.iml

#cached states
/states/
